# ==========================================
# PostgreSQL
# ==========================================
POSTGRES_DB=t420
POSTGRES_USER=t420
POSTGRES_PASSWORD=change_me

# ==========================================
# Backend
# ==========================================
DATABASE_URL=postgresql://t420:change_me@postgres:5432/t420?schema=public

JWT_SECRET=change_this_super_secret_key

PORT=3000

NODE_ENV=production