# Dependencias
node_modules

# Build
dist

# Variables de entorno
.env
.env.*

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Logs
*.log
logs

# Cobertura
coverage

# Documentación
README.md

# Tests
test

# Docker
.dockerignore

# Sistema
.DS_Store
Thumbs.db